doctype html
html
  head
    // CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    
    title | Fund Finder - v3 |
    link(rel="shortcut icon" type="image/png" href="/img/ff.png")

  body
    block content

  //JS  limpiar busqueda resetSearch.js
  script(src="/javascripts/resetSearch.js")

  // JS faceteo type.js
  script(src="/javascripts/facet_type.js")
  
  //JS faceteo types.js
  script(src="/javascripts/facet_types.js")

  //JS faceteo amount.js
  script(src="/javascripts/facet_amount.js")

  script(src="/javascripts/efectts.js")



